$bgColor: #6AAFEC;
$mainColor: #0072D9;

.app{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: $bgColor;
    justify-content: center;
    align-items: center;
}
  
